<div class="card">
  <div class="card-body">
    <a href="/doctor/{{id}}"><h5 class="card-title">{{name}}</h5></a>
    <h6 class="card-subtitle mb-2 text-muted">
      {{gender}}
      {{speciality}}</h6>
    <p class="card-text">{{availability}}<br />Years of Experience:
      {{years_of_experience}}</p>
    <p class="card-text">Review: {{note}}</p>
  </div>
</div>